@import '~@angular/material/theming';
@import '../../iuno-theme';

#login {
    width: 250px;
}

.login-background {
    position: absolute;
    // width: 100%;
    height: 250px;
    background-color: mat-color($iuno-primary);    
}

.back-button {
    background-color: #aaa;    
}

.social-login-btn {
    background-color: mat-color($iuno-primary);    
}

.email {
    text-align: left;
    font-weight: bold;
}