<!-- <div class="login-background"></div> -->
<div fxLayoutAlign="center center" class="container" style="width: 100%; height: 100%;">
    <div class="iuno-card mat-elevation-z4" fxLayout="column" fxFlex="grow" fxLayoutGap="10px">
        <img fxFlexAlign="center" class="iuno-logo" src="assets/images/iuno.svg" />
        <div *ngIf="registrationSuccessful" fxLayout="column">
            <div>
                <p class="title" i18n="register|registration successful">Ihre Registrierung war erfolgreich!</p>
            </div>
            <div>
                <p class="message" i18n="register|error - please activate account">Bitte aktivieren Sie Ihren Account über die Aktivierungsmail, die Sie in Kürze über die angegebene E-Mail-Adresse erhalten sollten.</p>
            </div>
            <div fxLayout="row" fxLayoutGap="15px" fxFlex="grow" fxLayoutAlign="center center">
                <button mat-button type='button' fxFlex="50" class="iuno-primary-button" routerLink="/login" i18n="register|back to login">Zurück zur Login Seite</button>
            </div>

        </div>
        <div *ngIf="!registrationSuccessful">
            <div *ngIf="registrationFailed" class="alert-error" i18n="register|error - user already exists">Registrierung fehlgeschlagen. Der Benutzer existiert bereits.</div>
            <div fxLayout="column" fxLayoutGap="5px">
                <form #registration action="/passport/signup" method="POST" [formGroup]="registrationForm" (ngSubmit)="onSubmit(); registration.submit()">
                    <div fxLayout="column" fxLayoutGap="5px">
                        <mat-form-field>
                            <input matInput [(ngModel)]="registrationData['first_name']" placeholder="Vorname" name="first_name" formControlName="first_name" i18n-placeholder="register|input field placeholder">
                            <mat-error *ngIf="registrationForm.get('first_name').hasError('required')" i18n="register|error - enter firstname">
                                Bitte geben Sie Ihren Vorname ein.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [(ngModel)]="registrationData['last_name']" placeholder="Nachname" name="last_name" formControlName="last_name" i18n-placeholder="register|input field placeholder">
                            <mat-error *ngIf="registrationForm.get('last_name').hasError('required')" i18n="register|error - enter lastname">
                                Bitte geben Sie Ihren Nachnamen ein.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [(ngModel)]="registrationData['email']" placeholder="E-Mail-Adresse" name="email" formControlName="email" i18n-placeholder="register|input field placeholder">
                            <mat-error *ngIf="registrationForm.get('email').hasError('required') || registrationForm.get('email').hasError('email')" i18n="register|error - enter valid email">
                                Bitte geben Sie eine gültige E-Mail-Adresse ein.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Passwort" name="password" formControlName="password" i18n-placeholder="register|input field placeholder">
                            <mat-error *ngIf="registrationForm.get('password').hasError('required') || registrationForm.get('password').hasError('minlength')" i18n="register|error - password length">
                                Das Passwort muss mindestens 8 Zeichen lang sein.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Passwort wiederholen" name="confirm_password" formControlName="confirm_password" i18n-placeholder="register|input field placeholder">
                            <mat-error *ngIf="registrationForm.get('confirm_password').invalid" i18n="register|error - passwords do not match">
                                Die Passwörter stimmen nicht überein.
                            </mat-error>
                        </mat-form-field>
                        <div fxLayoutAlign="center center">
                            <re-captcha #captchaControl formControlName="recaptcha" siteKey="6LcFUDMUAAAAANHdh_RtQvy67IGG1hnKkbeqwHgj" required></re-captcha>
                        </div>
                        <div *ngIf="captchaFailed" class="alert-error" i18n="register|error - captcha failed">Captcha-Überprüfung fehlgeschlagen</div>
                        <div fxLayout="row" fxLayoutGap="15px" fxFlex="grow">
                            <button mat-button type='button' fxFlex="50" class="iuno-cancel-button" (click)="cancelRegistration()" i18n="register|button - cancel">Abbrechen</button>
                            <button mat-button type="submit" [disabled]="registrationForm.invalid" fxFlex="50" class="iuno-primary-button" i18n="register|button register">Registrieren</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>