<!-- <div class="login-background"></div> -->
<div fxLayoutAlign="center center" class="container" style="width: 100%; height: 100%;">
    <div class="iuno-card mat-elevation-z4" fxLayout="column" fxFlex="grow" fxLayoutGap="10px">
        <img fxFlexAlign="center" class="iuno-logo" src="assets/images/iuno.svg" />
        <div *ngIf="registrationFailed" class="alert-error">Registrierung fehlgeschlagen. Benutzer existiert bereits.</div>
        <div fxLayout="column" fxLayoutGap="5px">
            <form #registration action="/passport/signup" method="POST" [formGroup]="registerForm" (submit)="registration.submit()" (ngSubmit)="registration.submit()">
                <div fxLayout="column" fxLayoutGap="5px">
                    <mat-form-field>
                        <input matInput placeholder="Vorname" name="first_name" formControlName="first_name">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Nachname" name="last_name" formControlName="last_name">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="E-Mail-Adresse" name="email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Passwort" name="password" formControlName="password">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Passwort wiederholen" name="password_confirm" formControlName="password_confirm">
                        <!-- <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)" class="alert alert-danger">
                            <div *ngIf="passwordConfirm != password">
                                Passwörter stimmen nicht überein.
                            </div>
                        </div> -->
                    </mat-form-field>
                    <div fxLayoutAlign="center center">
                        <recaptcha [formControl]="recaptcha" (scriptLoad)="onRecaptchaScriptLoad()" (scriptError)="onRecaptchaScriptError()"></recaptcha>
                    </div>
                    <div *ngIf="captchaFailed" class="alert-error">Captcha-Überprüfung fehlgeschlagen</div>
                    <div fxLayout="row" fxLayoutGap="15px" fxFlex="grow">
                        <button mat-button type='button' fxFlex="50" class="iuno-cancel-button" (click)="cancelRegistration()">Abbrechen</button>
                        <button mat-button type="submit" fxFlex="50" class="iuno-primary-button">Registrieren</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 

<form action="/passport/signup" method="post" role="form">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Vorname*" required>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Nachname*" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Adresse*" required>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                <input type="password" minlength="8" name="password" id="password" class="form-control input-sm" placeholder="Passwort*"
                    required onkeyup='check();'>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                <input type="password" name="confirm_password" minlength="8" id="confirm_password" class="form-control input-sm" placeholder="Passwort wiederholen*"
                    data-bv-excluded="false" data-match="#password" required onkeyup='check();'>
            </div>
        </div>
        <small class="col-xs-6 col-sm-6 col-md-6" id='message'></small>
    </div>
    <div id="failure_alert" class="alert alert-danger">Registrierung fehlgeschlagen. Benutzer existiert bereits.</div>
    <script>
        var display = "none";
        if (window.location.search.indexOf('failure=true') > -1) {
            display = ""
        }
        document.getElementById('failure_alert').style.display = display;
    </script>
    <input type="submit" id="register" value="Jetzt Registrieren" class="btn btn-info btn-block">
    <small class="create-account text">* Pflichtfelder.</small>
</form> -->