<!-- <div class="login-background"></div> -->
<div fxLayoutAlign="center center" class="container" style="width: 100%; height: 100%;">
    <div class="iuno-card mat-elevation-z4" fxLayout="column" fxFlex="grow" fxLayoutGap="10px">
        <img fxFlexAlign="center" class="iuno-logo" src="assets/images/iuno.svg" />
        <div *ngIf="!showIunoLogin" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutGap="5px">
                <button mat-button class="social-button social-twitter" (click)="loginTwitter()">
                    <i class="social-button-icon fa fa-twitter fa-2x" aria-hidden="true"></i>&nbsp; Twitter</button>
                <button mat-button class="social-button social-facebook" (click)="loginFacebook()">
                    <i class="social-button-icon fa fa-facebook fa-2x" aria-hidden="true"></i>&nbsp; Facebook</button>
                <button mat-button class="social-button social-google" (click)="loginGoogle()">
                    <i class="social-button-icon fa fa-google fa-2x" aria-hidden="true"></i>&nbsp; Google</button>
                <button mat-button class="social-button social-iuno" (click)="openIunoLogin()">Mit IUNO anmelden</button>
            </div>
            <!-- <div class="or-container" fxLayoutAlign="center center">
                <span class="or">oder</span>
            </div>
            <div fxFlex="grow" fxLayout="column" fxLayoutGap="5px">
                <button mat-button class="social-button social-iuno" (click)="openIunoLogin()">Mit IUNO anmelden</button>
            </div> -->
        </div>
        <div *ngIf="showIunoLogin">
            <div *ngIf="loginFailed" class="alert-error" fxLayout="column" fxLayoutGap="15px">
                <div>Login fehlgeschlagen. Benutzername oder Passwort falsch.</div>
                <div>
                    <a [routerLink]="['/reset-password', loginCredentials.email]">Ich habe mein Passwort vergessen</a>
                </div>
            </div>
            <div *ngIf="notVerified" class="alert-error" fxLayout="column" fxLayoutGap="15px">
                <div>Login fehlgeschlagen. Die E-Mail-Adresse wurde noch nicht bestätigt.</div>
                <div>
                    <a [routerLink]="['/resend-email-verification', loginCredentials.email]">Aktivierungsmail erneut senden</a>
                </div>
            </div>
            <div *ngIf="verified">
                <p class="title">Aktivierung erfolgreich!</p>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <form #login action="/passport/login" method="POST" [formGroup]="loginForm" (ngSubmit)="onSubmit(); login.submit()" name="login"
                    method="POST">
                    <div fxLayout="column" fxLayoutGap="5px">
                        <mat-form-field>
                            <input matInput [(ngModel)]="loginCredentials['email']" placeholder="E-Mail-Adresse" name="email" formControlName="email">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Passwort" name="password" formControlName="password">
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutGap="15px" fxFlex="grow">
                            <button mat-button type='button' fxFlex="50" class="iuno-cancel-button" (click)="closeIunoLogin()">Zurück</button>
                            <button mat-button type="submit" [disabled]="loginForm.invalid" fxFlex="50" class="iuno-primary-button">Login</button>
                        </div>
                    </div>
                </form>
                <div *ngIf="!verified" fxLayout="column">
                    <div class="or-container" fxLayoutAlign="center center">
                        <span class="or">Noch keinen Login?</span>
                    </div>
                    <button mat-button class="iuno-secondary-button" (click)="register()">Jetzt registrieren</button>
                </div>
            </div>
        </div>
    </div>
</div>